.h1Parceiros {
    font-size: 120px;
    font-weight: 800;
    background: -webkit-linear-gradient(45deg, #85009f, #ff06b4, #ff9900 50%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 80px;
    margin-bottom: 30px;
}

.contentParceiros {
    display: flex;
    justify-content: space-between;
    margin-right: 80px;
    margin-left: 80px;
    margin-bottom: 80px;
}

.aLara {
    width: 140px;
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #85009f, #ff06b4, #ff9900);
    padding-top: 25px;
    padding-left: 95px;
    padding-bottom: 25px;
    padding-right: 95px;
    border: groove 0 transparent;
    border-radius: 4em;
    transition: transform 0.3s;
    will-change: scale;
}

.aLara:hover {
    transform: scale(1.05);
}

.laraBranco {
    background-color: white;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
    border: groove 1em transparent;
    border-radius: 3em;
}

#imgLara {
    width: 250px;
    height: 144.219;
}

.aSebrae {
    width: 140px;
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #85009f, #ff06b4, #ff9900);
    padding-top: 25px;
    padding-left: 95px;
    padding-bottom: 25px;
    padding-right: 95px;
    border: groove 0 transparent;
    border-radius: 4em;
    transition: transform 0.3s;
    will-change: scale;
}

.aSebrae:hover {
    transform: scale(1.05);
}

.sebraeBranco {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
    border: groove 1em transparent;
    border-radius: 3em;
}

#imgSebrae {
    width: 250px;
}

.aPaqtg {
    width: 140px;
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #85009f, #ff06b4, #ff9900);
    padding-top: 25px;
    padding-left: 95px;
    padding-bottom: 25px;
    padding-right: 95px;
    border: groove 0 transparent;
    border-radius: 4em;
    transition: transform 0.3s;
    will-change: scale;
}

.paqtgBranco {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 17px;
    padding-right: 17px;
    border: groove 0 transparent;
    border-radius: 3em;
}

.aPaqtg:hover {
    transform: scale(1.05);
}

#imgpaqtg {
    padding-top: 30px;
    margin: 0;
    width: 250px;
}